<%- include('../partials/header') %>

<h3>Skill: <%= skill.name %></h3>
<h3>Expert: <%= skill.isExpert ? 'Yes' : 'No' %></h3>

<form action="/skills/<%= skill.id %>/edit" method="GET">
  <button type="submit">Edit Skill</button>
</form>
<form action="/skills/<%= skill.id %>?_method=DELETE"
  class="delete-form" 
  method="POST">
  <button type="submit">Delete Skill</button>
</form>

<%- include('../partials/footer') %>
