<%- include('../partials/header') %>

<div class="container">

  <h3>Skill: <%= skill.name %></h3>
  <h3>Expert: <%= skill.isExpert ? 'Yes' : 'No' %></h3>
  <h5>Description: <%= skill.desc %></h5>

  <!-- <div class="row"> -->
    <!-- <div class="col-sm-1"> -->
      <form action="/skills/<%= skill.id %>/edit" method="GET">
        <button class="btn btn-primary" type="submit">Edit Skill</button>
      </form>
    <!-- </div> -->
    <!-- <div class="col-sm-1"> -->
      <form action="/skills/<%= skill.id %>?_method=DELETE"
        class="delete-form" 
        method="POST">
        <button class="btn btn-primary" type="submit">Delete Skill</button>
      </form>
    <!-- </div> -->
  <!-- </div> -->
</div>

<%- include('../partials/footer') %>
