<%- include('../partials/header') %>

<h3>Skill: <%= skill.skill %></h3>
<h3>Expert: <%= skill.isExpert ? 'Yes' : 'No' %></h3>

<form action="/skills/<%= skill.id %>?_method=DELETE"
      class="delete-form" 
      method="POST">
  <button type="submit">Delete Skill</button>
</form>

<%- include('../partials/footer') %>
